body {
  background-color: #ffe5e5;
}
  
div {
  background-color: #fae2d8;
  border-style: solid;
  border-width: thick;
  border-color: #a47575;
}

h1 {
  font-size: 40;
  color: #bc6149;
  text-align: center; 
}

p {
  font-size: 20;
  color: #dc8670;
  text-align: left; 
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}




