body {
  background-color: #ffe5e5;
}

div {
  background-color: #fae2d8;
  border: 3px #9c6b6c;
  padding: 8px;
}

h1 {
  font-size: 40;
  color: #bc6149;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

